# Server
PORT=5000
NODE_ENV=development

# MongoDB Atlas
MONGO_URI=mongodb+srv://waste_express:WaStEeXpReSs@cluster1.egrqlyu.mongodb.net/LaCreamy?retryWrites=true&w=majority&appName=Cluster1

# JWT Secrets (use long random strings)
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_ADMIN_SECRET=your_admin_jwt_secret_change_this_too
JWT_EXPIRES_IN=7d
JWT_ADMIN_EXPIRES_IN=1d

# Payloqa SMS
PAYLOQA_API_KEY=pk_live_of502pjkel
PAYLOQA_SENDER_ID=ClassIQ

# Admin credentials (first admin account)
ADMIN_EMAIL=admin@lacreamy.com
ADMIN_PASSWORD=Admin@1234

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:5173

# OTP Settings
OTP_EXPIRES_MINUTES=5

